/* line 4, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon-neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* Space out content a bit */
/* line 4, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px; }

/* Phoenix flash messages */
/* line 10, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.alert:empty {
  display: none; }

/* Phoenix inline forms in links and buttons */
/* line 13, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
form.link, form.button {
  display: inline; }

/* line 17, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.show {
  display: normal; }

/* line 21, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.hide {
  display: none; }

/* line 25, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  .container::after {
    clear: both;
    content: "";
    display: table; }

/* line 30, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--remaining-meter {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  /* line 89, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
  .question-game .question-game--remaining-meter:last-child {
    margin-right: 0; }

/* line 34, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--main-panel {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  /* line 89, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
  .question-game .question-game--main-panel:last-child {
    margin-right: 0; }

/* line 38, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--main-panel {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  /* line 20, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
  .question-game .question-game--main-panel::after {
    clear: both;
    content: "";
    display: table; }

/* line 42, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--option {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 17.72593%;
  margin: 0.2em; }
  /* line 89, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
  .question-game .question-game--option:last-child {
    margin-right: 0; }

/* line 47, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--option-score {
  text-align: center; }

/* line 51, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--option-title {
  text-align: center; }

/* line 55, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--option-composer {
  float: left;
  display: block;
  margin-right: 2.84259%;
  width: 100%; }
  /* line 89, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
  .question-game .question-game--option-composer:last-child {
    margin-right: 0; }

/* line 59, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.question-game .question-game--option-vote {
  float: left;
  display: block;
  margin-right: 16.03631%;
  width: 41.98184%;
  border: thin solid black;
  text-align: center; }
  /* line 89, /Users/alexauritt/code/elixir/luncher/node_modules/bourbon-neat/app/assets/stylesheets/grid/_span-columns.scss */
  .question-game .question-game--option-vote:last-child {
    margin-right: 0; }

/* Custom page header */
/* line 68, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.header {
  border-bottom: 1px solid #e5e5e5; }

/* line 71, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 81, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px; }

/* Customize container */
@media (min-width: 768px) {
  /* line 89, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
  .container {
    max-width: 730px; } }

/* line 93, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message */
/* line 98, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }

/* Supporting marketing content */
/* line 104, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.marketing {
  margin: 35px 0; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* line 111, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0; }
  /* Space out the masthead */
  /* line 117, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
  .header {
    margin-bottom: 30px; }
  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 121, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
  .jumbotron {
    border-bottom: 0; } }

/* line 126, /Users/alexauritt/code/elixir/luncher/web/static/css/app.scss */
.welcome--main {
  text-align: center; }


/*# sourceMappingURL=app.css.map*/