@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "node_modules/bourbon-neat/app/assets/stylesheets/neat";
/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.show {
  display: normal;
}

.hide {
  display: none;
}

.container {
  @include outer-container;
}

.identification__form {
  .identification__input {
    @include span-columns(3)
  }

  .identificastion--logged-in-panel {
    @include span-columns(4);
    align: right;
  }
  .identification--greeting {
    align: right;
  }
}

.question-game {
  .question-game--remaining-meter {
    @include span-columns(2);
  }

  .question-game--main-panel {
    @include span-columns(10);
  }

  .question-game--main-panel {
    @include outer-container;
  }

  .question-game--option {
    @include span-columns(2 of 10);
    margin: 0.2em;
  }

  .question-game--option-score {
    text-align: center;
  }

  .question-game--option-title {
    text-align: center;
  }

  .question-game--option-composer {
    @include span-columns(10 of 10);
  }

  .question-game--option-vote {
    @include span-columns(1 of 2);
    border: thin solid black;
    text-align: center;
  }
}


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.welcome--main {
	text-align: center;
}
